@import "../../../css/colors.less";

.loading-results {
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Extra space in Cross Axis */
    padding: 0px;
    background-color: #fff;
}

.loading-results-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @activeColor;
    padding: 10px;
    color: #fff;
    font-size: 1.25em;
}

.loading-results-text {
    background-color: #fff;
    color: @wetstone;
    padding: 15px 15px;
    line-height: 1.4;
    vertical-align: middle;
}