
<!-- Recents -->
<div class="recent-bar">
    <span class="bumpl">Recent Sites: </span>
    <a href="#">Castle Black</a>,
    <a href="#">Deepwood Motte</a>
</div>

<div *ngIf="hasSelectedItem()">

    <!-- Selected Item Header -->
    <div class="item-header">
        <div class="item-marker">
            <span class="fa-stack fa-lg" style="font-size: 1.5em;">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-bookmark fa-stack-1x"></i>
            </span>
        </div>
        <div class="item-title">
            <h1>{{selectedItem.givenName}} {{selectedItem.surname}}</h1>
            <p>
                <span><i class="fa fa-envelope" aria-hidden="true"></i> {{selectedItem.email}}</span>
                <!--<span class="bumpl bumpr black">&bull;</span>
                <span><a href="#">view site analytics</a></span>-->
            </p>
        </div>
        <div class="item-toggle">
            <span class="bumpl">Active:</span>
            <ui-toggle [is-on]="selectedItem.active"></ui-toggle>
        </div>
        <ul class="tab-list wide">
            <li class="active">Details</li>
            <li>Related Sites</li>
        </ul>
    </div>


    <!-- Selected Item Content -->
    <div class="item-content">

        <!-- User Detail Form -->
        <form class="standard-form">

            <!-- Button Bar -->
            <div *ngIf="isExistingUser()" class="toolbar">
                <button class="btn" (click)="cancel()"><i class="fa fa-eraser" aria-hidden="true"></i> Cancel</button>
                <button class="btn warn" (click)="confirmDeletion()"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete User</button>
                <button class="btn anchor" (click)="saveUser()"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Save User</button>
            </div>
            <div *ngIf="!isExistingUser()" class="toolbar">
                <button class="btn" (click)="cancel()"><i class="fa fa-eraser" aria-hidden="true"></i> Cancel</button>
                <button class="btn anchor" (click)="saveUser()"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Create User</button>
            </div>
            <div class="confirmation-wrapper" [ngClass]="{show: confirmDelete}">
                <span class="confirmation-icon" [@deletingState]="deletingState">
                    <i class="fa fa-cog fa-spin" [@deletingIconIn]="isDeletingState() ? 'in' : 'out'"></i>
                    <i class="fa fa-times-circle-o" [@deletingIconIn]="isErrorState() ? 'in' : 'out'"></i>
                </span>
                <div class="confirmation">
                    <p class="confirmation-right" *ngIf="isNotDeletingState() === true">You are about to do this action, are you sure? <a class="bumpr" (click)="confirmDeletion()">not really</a><span class="bumpl bumpr">|</span><a (click)="deleteUser()">yes please</a></p>
                    <p class="confirmation-left" *ngIf="isDeletingState() === true">Deleting...</p>
                    <p class="confirmation-left" *ngIf="isErrorState() === true">Sorry, we couldn't connect to the server to delete. <a (click)="deleteUser()">Try Again</a></p>
                </div>
            </div>

            <h1>USER INFORMATION</h1>
            <div class="form-section">
                <div class="form-group">
                    <md-input [(ngModel)]="selectedItem.givenName" name="givenName" required="true" placeholder="First Name"></md-input>
                    <md-input [(ngModel)]="selectedItem.surname" name="surname" required="true" placeholder="Last Name"></md-input>
                </div>
                <div class="form-group">
                    <md-input [(ngModel)]="selectedItem.userName" name="userName" required="true" placeholder="User Name"></md-input>
                    <md-input [(ngModel)]="selectedItem.email" name="email" required="true" placeholder="Email Address"></md-input>
                </div>
            </div>
        </form>

    </div>

</div>

<div class="no-user-panel" *ngIf="!hasSelectedItem()">
    <div class="no-user-panel-content">
        <div class="section">
        <div class="fa-stack fa-5x">
            <div class="fa fa-circle fa-stack-2x"></div>
            <div class="fa fa-user fa-stack-1x fa-inverse"></div>
        </div>
        </div>
        <div class="section">
            <h1>Welcome to Users!</h1>
        </div>
        <div class="section">
            <p>You will need to create users in order to assign access to the sites and site groups.  Once you create your first user, the user will show up in the list to the left.</p>
        </div>
        <div class="section">
            <button class="btn anchor" (click)="createUserClick()"><i class="fa fa-plus" aria-hidden="true"></i> Create New User</button>
        </div>
    </div>
</div>