<ul class="item-list" [@loadingState]="loadingState">
    <template [ngIf]="hasSomeResults()" >
    <li *ngFor="let item of items" (click)="selected.emit(item)" [hidden]="isLoading()">
       <!--<input class="list-check" type="checkbox"/>-->
        <i class="fa fa-square list-check"></i>
        <i class="status fa fa-circle"></i>
        <div>
            <h1>{{item.givenName}} {{item.surname}}</h1>
            <span>{{item.email}}</span>
        </div>
    </li>
    </template>
    <li class="no-results" *ngIf="!hasSomeResults()">
        <h3>No Results Found</h3>
        <p>
            Doh! No users matched your request.  Perhaps you'd like to <a href="#">create a new user?</a>
        </p>
    </li>
</ul>