<ul class="item-list">
    <li *ngFor="let item of items" (click)="selected.emit(item)">
       <!--<input class="list-check" type="checkbox"/>-->
        <i class="fa fa-square list-check"></i>
        <i class="status fa fa-circle"></i>
        <div>
            <h1>{{item.givenName}} {{item.surname}}</h1>
            <span>{{item.email}}</span>
        </div>
    </li>
    <li class="no-results" *ngIf="isLoading === false && items.length === 0">
        <p>
            Oops, there's no users available right now <i class="fa fa-frown-o" aria-hidden="true"></i>.  
            No worries, go ahead and <a href="#">create one now.</a>
        </p>
    </li>
    <app-loading-list [hidden]="!isLoading"></app-loading-list>     
</ul>