
<!-- Recents -->
<div class="recent-bar">
    <span class="bumpl">Recent Sites: </span>
    <a href="#">Castle Black</a>,
    <a href="#">Deepwood Motte</a>
</div>


<!-- Selected Item Header -->
<div class="item-header">
    <div class="item-marker">
        <span class="fa-stack fa-lg" style="font-size: 1.5em;">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-bookmark fa-stack-1x"></i>
        </span>
    </div>
    <div class="item-title">
        <h1>{{selectedItem.givenName}} {{selectedItem.surname}}</h1>
        <p>
            <span><i class="fa fa-envelope" aria-hidden="true"></i> {{selectedItem.email}}</span>
            <!--<span class="bumpl bumpr black">&bull;</span>
            <span><a href="#">view site analytics</a></span>-->
        </p>
    </div>
    <div class="item-toggle">
        <span class="bumpl">Active:</span>
        <ui-toggle></ui-toggle>    
    </div>
    <ul class="tab-list wide">
        <li class="active">Details</li>
        <li>Related Sites</li>
    </ul>
</div>


<!-- Selected Item Content -->
<div class="item-content">

    <!-- User Detail Form -->
    <form class="standard-form">

        <!-- Button Bar -->
        <div class="toolbar">
            <button class="btn warn" (click)="confirmDeletion()"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete User</button>
            <button class="btn"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Save User</button>
        </div>
        <div class="confirmation-wrapper" [ngClass]="{show: confirmDelete}">
            <div class="confirmation">
                <p>You are about to do this action, are you sure? <a class="bumpr">not really</a><span class="bumpl bumpr">|</span><a>yes please</a></p>
            </div>
        </div>

        <h1>USER INFORMATION</h1>
        <div class="form-section">
            <div class="form-group">
                <md-input [(ngModel)]="selectedItem.givenName" name="givenName" required="true" dividerColor="warn" placeholder="First Name"></md-input>
                <md-input [(ngModel)]="selectedItem.surname" name="surname" required="true" placeholder="Last Name"></md-input>
            </div>
            <div class="form-group">
                <md-input [(ngModel)]="selectedItem.userName" name="userName" placeholder="User Name"></md-input>
                <md-input [(ngModel)]="selectedItem.email" name="email" placeholder="Email Address"></md-input>
            </div>
        </div>
    </form>

</div>