<div class="siteDetailParent">
    <div class="site-detail-top">
        <div class="site-address-container">
            <div class="address-title">SITE ADDRESS</div>
            <div class="street-name-container">
                <md-input 
                    class="address address-line-1" 
                    placeholder="Address Line 1"
                    ></md-input>
                <md-input 
                    class="address address-line-2" 
                    placeholder="Address Line 2"
                    ></md-input>
            </div>
            <div class="site-location-container">
                <md-input 
                    class="city" 
                    placeholder="City"
                    ></md-input>
                <md-input 
                    class="state" 
                    placeholder="State"
                    ></md-input>
                <md-input 
                    class="zip" 
                    placeholder="Zip/Postal Code"
                    ></md-input>
                <md-input 
                    class="country" 
                    placeholder="Country"
                    ></md-input>
            </div>
        </div>
    </div>
</div>