<div class="group-details-container">
  
  <div class="details-title-container">
    <div class="details-title">NAME AND DESCRIPTION</div>
  </div>

  <div class="input-container">
    <div class="group-name-container">
      <md-input
        class="group-name"
        placeholder="Group Name"
        >
      </md-input>
    </div>

    <div class="group-description-container">
      <md-input
        class="group-description"
        placeholder="Short Group Description"
        >
      </md-input>
    </div>

    <div class="group-delete-container">
      <button md-raised-button color="accent">Delete Group</button>
    </div>
  </div>

</div>