<!-- Recents -->
<div class="recent-bar">
    <span class="bumpl">Recent Sites: </span>
    <a href="#">Castle Black</a>,
    <a href="#">Deepwood Motte</a>
</div>


<!-- Selected Item Header -->
<div class="item-header">
    <div class="item-marker">
        <span class="fa-stack fa-lg" style="font-size: 1.5em;">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-bookmark fa-stack-1x"></i>
        </span>
    </div>
    <div class="item-title">
        <h1>&lt;Placeholder&gt;</h1>
        <p>
            <span><i class="fa fa-location-arrow" aria-hidden="true"></i> 14:34:12:56:83:34:09</span>
            <!--<span class="bumpl bumpr black">&bull;</span>
            <span><a href="#">view site analytics</a></span>-->
        </p>
    </div>
    <div class="item-toggle">
        <span class="bumpl">Active:</span>
        <ui-toggle></ui-toggle>    
    </div>
    <!--<ul class="tab-list wide">
        <li class="active">Details</li>
        <li>Related Sites</li>
    </ul>-->
</div>