@import "../../../css/colors.less";

.loading-panel {
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Extra space in Cross Axis */
    padding: 0px;
    background-color: #fff;
}

.loading-panel-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    color: @activeColor;
    padding: 10px;
    font-size: 10em;
}
