@import '../css/colors.less';
@import '../css/mixins.less';

.main-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: @headerHeight;
    padding: 0 25px;
    background: @headerColor;
    color: @inverseTextColor;
    font-weight: 300;
}
.profile {
    .fa-user { color: @headerColor; }
}
.primary-nav {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: @navWidth;
    background: @primaryColor;
    z-index: 10;

    h1 {
        border-top: 1px solid @primarySelectColor;
        color: @primaryAccentColor;
        font-weight: 300;
        font-size: .9em;
        text-align: center;
        padding: 20px 15px 15px 15px;
    }
}
.nav-list {
    .basic-list;
    margin-bottom: 15px;

    li {
        .preventHighlight;
        color: @inverseTextColor;
        font-size: 1.1em;
    }
    a {
        display: block;
        padding: 15px 0;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
    a.active, a.active:hover {
        border-left: 5px solid @activeColor;
        background: @primarySelectColor;
    }
    a:hover {
        background: @primarySelectColor;
    }
    i {
        width: 35px;
        color: @inverseTextColor;
        font-size: 1.3em;
    }
    span {
        display: block;
        margin-top: 5px;
        text-decoration: none;
        color: @inverseTextColor;
        font-weight: 300;
        font-size: .6em;
    }
}


// **** MEDIA QUERIES ****
@media screen and (max-width: @mobileWidthMax) {
    .primary-nav {
        width: @navWidth;
    }
}

@media only screen and (min-width: @tabletWidthMin) and (max-width: @tabletWidthMax) {
    
}

@media only screen and (min-width: @desktopWidthMin) {
    .primary-nav {
        width: @navWidthDesktop;

        h1 {
            font-size: 1.2em;
            text-align: inherit;
        }
    }
    .nav-list {
        a {
            line-height: 50px;
            text-align: left;
            border-left: 5px solid @primaryColor;
            padding: inherit;
        }
        a:hover {
            border-left: 5px solid @primarySelectColor;
        }
        i {
            margin-left: 15px;
        }
        span {
            display: inline;
            font-size: inherit;
            margin-top: inherit;
        }
    }
}