// **** GLOBAL MIXINS ****
@mobileWidthMax: 767px;
@tabletWidthMin: 769px;
@tabletWidthMax: 1024px;
@desktopWidthMin: 1025px;

@headerHeight: 60px;
@navWidth: 84px;
@navWidthTablet: 84px;
@navWidthDesktop: 210px;
@listWidth: 200px;
@listWidthTablet: 250px;
@listWidthDesktop: 340px;
@tabBarHeight: 50px;
@searchBarHeight: 50px;
@actionBarHeight: 40px;
@recentBarHeight: 30px;
@itemHeaderHeight: 150px;

//TODO:  Deprecate Calculations
@dataHeight: calc(~'100% - 136px');
@containerHeight: calc(~'100% - 64px');

.preventHighlight {
    //no highlighty
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.basic-list {
	margin-left: 0px; padding: 0; list-style: none;
    li { margin-bottom: 0px; }
}
.radius(@radius: 3px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ease (@duration: 200ms, @property: all, @delay: 0ms) {
    -webkit-transition: @property @duration ease @delay;
    -moz-transition: @property @duration ease @delay;
    -ms-transition: @property @duration ease @delay;
    -o-transition: @property @duration ease @delay;
    transition: @property @duration ease @delay;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.transform(@x: 0, @y: 0, @z: 0) {
    -webkit-transform: translate3d(@x,@y,@z);
    -moz-transform: translate3d(@x,@y,@z);
    -ms-transform: translate3d(@x,@y,@z);
    -o-transform: translate3d(@x,@y,@z);
    transform: translate3d(@x,@y,@z);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.no-margin () { top: 0; bottom: 0; left: 0; right: 0; }